.confirm {
  min-height: 80vh;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}
.itens {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
}
.sectionItem {
  display: flex;
  height: 150px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  border-bottom: 2px solid black;
}
.titleItem {
  flex: 1.5;
  font-size: 0.9rem;
  padding: 0 30px;
}
.image {
  flex: 0.7;
}
.image img {
  max-height: 100%;
  max-width: 100%;
}
.description {
  flex: 6;
  font-size: 0.8rem;
  padding: 0 20px;
}
.total {
  flex: 1;
  flex-direction: column;
  row-gap: 10px;
}
.priceTotal {
  background-color: greenyellow;
  width: 80px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.totalGeral {
  display: flex;
  justify-content: right;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  column-gap: 20px;
}
.totalGeral button {
  width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgb(129, 248, 73);
  color: green;
  border: green;
}

@media (max-width: 800px) {
  .description {
    font-size: 0.7rem;
  }
  .image {
    flex: 1;
  }
  .titleItem {
    flex: 1.2;
    font-size: 0.9rem;
    padding: 0 8px;
  }
  .totalGeral {
    column-gap: 10px;
    font-size: 1.7rem;
  }
  .totalGeral button {
    width: 150px;
  }
}
